<div
  class="row"
  itemprop="author"
  itemscope=""
  itemtype="http://schema.org/Person"
  itemref="person-email person-address"
>
  <div class="col-12 col-lg-4">
    <div id="profile">
      <img
        class="portrait"
        src="/assets/images/portrait.jpg"
        itemprop="image"
        alt="Avatar"
      />

      <div class="portrait-title">
        <h3 itemprop="name">Bonnie Brooks</h3>
        <h4 itemprop="jobTitle">Research Associate @ Public Policy Institute of California (PPIC)</h4>

        <h3
          itemprop="worksFor"
          itemscope=""
          itemtype="http://schema.org/Organization"
        >
          <a
            href="https://ppic.org"
            target="_blank"
            itemprop="url"
            rel="noopener"
          >
            <span itemprop="name">PPIC</span>
          </a>
        </h3>

      </div>

      <link itemprop="url" href="" />

      <ul class="network-icon" aria-hidden="true">
        <li>
          <a itemprop="sameAs" href="/#contact">
            <i class="fas fa-envelope big-icon"></i>
          </a>
        </li>

        <li>
          <a
            itemprop="sameAs"
            href="https://github.com/brooksbo"
            target="_blank"
            rel="noopener"
          >
            <i class="fab fa-github big-icon"></i>

        <li>
          <a
            itemprop="sameAs"
            href="https://www.linkedin.com/in/brooksbonnie/"
            target="_blank"
            rel="noopener"
          >
            <i class="fab fa-linkedin big-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-8" itemprop="description">
    <h1>Biography</h1>

    <p>
      Welcome to my page! My name is Bonnie Brooks. I am a Brazilian-American data
      nerd from Los Angeles, CA with a passion for data, policy, and art. I'm always
      learning something new and sharing it too.
    </p>

    <p>I’m also:</p>

    <p>
      a researcher at
      <a href="https://alluma.org/" target="_blank">the Public Policy Institute of California</a> - a nonprofit,
      nonpartisan think tank dedicated to informing and improving public policy in California through
      independent, objective, nonpartisan research.
    </p>

    <div class="row">
      <div class="col-md-5">
        <h3>Interests</h3>
        <ul class="ul-interests">
          <li>Data Visualization</li>

          <li> Data Science </li>

          <li>Social Tech</li>

          <li>Public Policy</li>

        </ul>
      </div>

      <div class="col-md-7">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B.A. in Economics and Global Development Studies, 2015</p>
              <p class="institution">Grinnell College</p>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>
