<div
  class="row"
  itemprop="author"
  itemscope=""
  itemtype="http://schema.org/Person"
  itemref="person-email person-address"
>
  <div class="col-12 col-lg-4">
    <div id="profile">
      <img
        class="portrait"
        src="/assets/images/portrait.jpg"
        itemprop="image"
        alt="Avatar"
      />

      <div class="portrait-title">
        <h3 itemprop="name">Sergio Sánchez Zavala</h3>
        <h4 itemprop="jobTitle">Data Visualization Analyst @ Alluma</h4>

        <h3
          itemprop="worksFor"
          itemscope=""
          itemtype="http://schema.org/Organization"
        >
          <a
            href="https://alluma.org"
            target="_blank"
            itemprop="url"
            rel="noopener"
          >
            <span itemprop="name">Alluma</span>
          </a>
        </h3>

        <h3
          itemprop="worksFor"
          itemscope=""
          itemtype="http://schema.org/Organization"
        >
          <a
            href="https://tacosdedatos.com/"
            target="_blank"
            itemprop="url"
            rel="noopener"
          >
            <span itemprop="name">tacosdedatos</span>
          </a>
        </h3>
      </div>

      <link itemprop="url" href="" />

      <ul class="network-icon" aria-hidden="true">
        <li>
          <a itemprop="sameAs" href="/#contact">
            <i class="fas fa-envelope big-icon"></i>
          </a>
        </li>

        <li>
          <a
            itemprop="sameAs"
            href="https://twitter.com/ChekosWH"
            target="_blank"
            rel="noopener"
          >
            <i class="fab fa-twitter big-icon"></i>
          </a>
        </li>

        <li>
          <a
            itemprop="sameAs"
            href="https://github.com/chekos"
            target="_blank"
            rel="noopener"
          >
            <i class="fab fa-github big-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-8" itemprop="description">
    <h1>Biography</h1>

    <p>
      My name is Sergio Sánchez Zavala and I’m originally from Tijuana, Baja
      California, México. I’m dedicated to making research transparent and
      reproducible. I’m a public policy wonk + data and tech nerd. I like making
      accessible and reproducible open-sourced tools and resources 🤓
    </p>

    <p>I’m also:</p>

    <p>
      🧑🏼&zwj;🎨🧑🏼&zwj;🏫 a facilitator in the newly formed
      <a href="https://datavisualizationsociety.com/" target="_blank"
        >Data Visualization Society</a
      >.
    </p>

    <p>
      🌮📊 the creator of
      <a href="https://twitter.com/tacosdedatos/" target="_blank"
        >@tacosdedatos</a
      >
      -
      <a href="https://tacosdedatos.com/" target="_blank">tacosdedatos.com</a>
      where I hope to build a place to learn data analysis and data
      visualization best practices, techniques, and knowledge in Spanish.
    </p>

    <p>
      🧑🏼&zwj;🔬🎨 and a data visualization analyst at
      <a href="https://alluma.org/" target="_blank">Alluma</a> - a social
      enterprise in the social tech space.
    </p>

    <div class="row">
      <div class="col-md-5">
        <h3>Interests</h3>
        <ul class="ul-interests">
          <li>Data Visualization</li>

          <li>Social Tech</li>

          <li>Public Policy</li>
        </ul>
      </div>

      <div class="col-md-7">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B.A. in Economics, 2016</p>
              <p class="institution">University of California, Davis</p>
            </div>
          </li>

          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B.A. in International Relations, 2016</p>
              <p class="institution">University of California, Davis</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
